body {
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.sketchzone {
    flex: 5;
    display: grid;
    width: 60%;
    height: 60%;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    border: 5px black solid;  
    gap: 0;
    padding: 0;
}
.squares {
    background-color: white;
    height: auto;
    width: auto;
    margin: 0;
}
.controls {
    flex: 1;
    position: relative;
    margin: 100px;
}

.header {
    margin-top: 50px;
    justify-self: center;
    font-size: xx-large;
    font-weight: 800;
    flex: 1;
}
button, .colorselector {
    font-size: xx-large;
    padding: 1em, 4em;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#red:hover {
    background-color: red;
}
#blue:hover {
    background-color: blue;
}
#green:hover {
    background-color: green;
}
